<section class="footer">
  <div class="footer-container">

    <!-- CONTACT -->
    <div class="footer-box">
      <h3>Contact Us</h3>

      <p><strong>Address</strong></p>
      <p>WapVibe Technologies Pvt. Ltd. <br>
Satyam Theatre Rd,
Kumar Basti, Srinivasa Nagar,<br>
Ameerpet, Hyderabad – 500038</p>

      <p><strong>Email Us</strong></p>
      <p>hr@wapvibetechnologies.com</p>

      <p><strong>Call Us</strong></p>
      <p>+91 9848544498</p>

     <div class="social-icons">
      <a href="#" class="icon fb"></a>
      <a href="#" class="icon tw"></a>
      <a href="#" class="icon yt"></a>
      <a href="#" class="icon ig"></a>
      <a href="#" class="icon ln"></a>
      <a href="#" class="icon pn"></a>
    </div>

    </div>

    <!-- QUICK LINKS -->
    <div class="footer-box">
      <h3>Quick Links</h3>
  <ul>
    <li routerLink="/">Home</li>
    <li routerLink="/about">About Us</li>
    <li routerLink="/products">Submit Resume</li>
    <li routerLink="/StaffingSolutions">Job Vacancy</li>
    <li routerLink="/Leadership">Team Members</li>
    <li routerLink="/services">Gallery</li>
    <li routerLink="/contact">Contact Us</li>
  </ul>
    </div>

    <!-- SERVICES -->
    <div class="footer-box">
       <h3>Our Services</h3>
  <ul>
    <li routerLink="/Web">Temporary Staffing</li>
    <li routerLink="/StaffingIT">Permanent Staffing (IT / Non-IT)</li>
    <li routerLink="/software">Permanent Recruitment</li>
    <li routerLink="/consulting">Recruitment Process Outsourcing (RPO)</li>
    <li routerLink="/Contract">Contract to Hire</li>
    <li routerLink="/Train">Train, Hire & Deploy</li>
    <li routerLink="/PayRoll">Payroll</li>
    <li routerLink="/Leadership">Executive Leadership Hiring</li>
  </ul>
    </div>

  </div>

  <!-- BOTTOM BAR -->
  <div class="footer-bottom">
    © WabVibe Technologies  2014 ALL RIGHTS RESERVED
  </div>
</section>

