HERO
.contact-hero {
  background: #000;
  padding: 60px 20px;
  text-align: center;
}

.contact-hero h1 {
  color: #ffb000;
  font-size: 36px;
}

/* INFO CARDS */
.contact-info {
  display: flex;
  gap: 30px;
  padding: 60px 10%;
  justify-content: center;
  background: #000;
}

.info-card {
  background: #1c1c1c;
  color: #fff;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  text-align: center;

  
}

.info-card h3 {
  margin-top: 15px;
  color: #ffb000;
}

/* ICONS */
.icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
  color: white; 
}

.location {
  background-image: url("https://cdn-icons-png.flaticon.com/512/684/684908.png");
}

.phone {
  background-image: url("https://cdn-icons-png.flaticon.com/512/597/597177.png");
}

.email {
  background-image: url("https://cdn-icons-png.flaticon.com/512/561/561127.png");
}

/* FORM + MAP */
.contact-main {
  display: flex;
  gap: 40px;
  padding: 60px 10%;
  background: #f8f8f8;
}

.contact-form {
  flex: 1;
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #003366;
}

.contact-form label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px;
  background: #ffb000;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* MAP */
.contact-map {
  flex: 1;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  min-height: 420px;
  border-radius: 12px;
  border: none;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-info,
  .contact-main {
    flex-direction: column;
    align-items: center;
  }

  .info-card {
    width: 100%;
  }
}




